.bg-overlay {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("../images/header3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: #fff;
    width: 100%;
    height: auto;
    padding-top: 12em;
    padding-bottom: 20em;
}

.col-md-4 img {
    padding-top: 8em;
}