.hotels {
    display:inline-block;
    width:300px;
    margin-top: 10px;
    margin-right:50px;
    margin-bottom: 30px;
    vertical-align: top;
}
span.title {
    margin-left:50px;
    font-size: 30px;
}
h2 {
    background: #87c5ff;
    padding:0.25em;
    text-align: center;
    width:300px;
}
h3 {
    display:inline-block;
    width:100%;
    padding:0.35em;
    letter-spacing: 2px;
}
.main {
    margin-top: 30px;
    margin-left: 100px;
    margin-bottom: 30px;
}
.img {
    margin-bottom:-30px;
}